page-principal {
    
    .vertical-align-content .scroll-content
    {
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        img{
            max-width: 100%;
        }
    }


}



